.container {
    background-image: url('/heroBg.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    min-height: 100vh;
}

.new {
    opacity: 0;
}

.old, .new, .img {
    transition: opacity 0.5s linear;
}

.img {
    filter: grayscale(100%);
}

.wrap {
    width: fit-content;
    height: fit-content;
}

.wrap:hover .old {
    opacity: 0;
}

.wrap:hover .new {
    opacity: 1;
}

.wrap:hover .img {
    opacity: 1;
    filter: none;
}

.wrap:hover .text1 {
    opacity: 1;
    color: #FFCC29;
}


