.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.gradientBg {
    background: rgb(34, 77, 140);
    background: -moz-linear-gradient(90deg, rgba(16, 73, 133, 1) 0%, rgba(0, 0, 0, 1) 85%);
    background: -webkit-linear-gradient(90deg, rgba(16, 73, 133, 1) 0%, rgba(0, 0, 0, 1) 85%);
    background: linear-gradient(90deg, rgba(16, 73, 133, 1) 0%, rgba(0, 0, 0, 1) 85%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#224d8c", endColorstr="#111d2d", GradientType=1);
}

.heroContainer {
    background-image: url('/hero-bg.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100% 100%;
    min-height: 70vh;
}

.new {
    opacity: 0;
}

.old, .new, .img {
    transition: opacity 0.5s linear;
}

.img, .logo {
    filter: grayscale(100%);
}

.wrap {
    width: fit-content;
    height: fit-content;
}

.wrap:hover .old {
    opacity: 0;
}

.wrap:hover .new {
    opacity: 1;
}

.wrap:hover .img {
    opacity: 1;
    filter: none;
}

.wrap:hover .text1 {
    opacity: 1;
    color: #FFCC29;
}

.formContainer {
    background-image: url('/papercut-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 140vh;
}

.formContainerDown {
    background-image: url('/papercut-bg-rotate.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}

.gradientText {
    background: -webkit-linear-gradient(90deg, #104985 0%, #000000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.accentText {
    -webkit-text-fill-color: #FFCC29;
}

.formIcon {
    position: absolute;
}

/*.diamondWhite {*/
/*    background-image: url('/diamond-accent.png');*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    background-position: center center;*/
/*}*/

.diamondWhite:hover ~ p {
    opacity: 0;
}

